body{
    background-color: rgb(189, 130, 160);
}

.titulo_principal{
    position: absolute;
    top: 0%;
    left: 43%;

    color: rgb(148, 23, 81);
    font-style: italic;
    z-index: 0;
}

.box-top{
    position:absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 13%;
    background-color: rgb(255, 195, 232);

    z-index: -1;
}